NewProject2026-01n8n-claudestage1_current.json
{"updatedAt":"2026-01-06T11:14:09.512Z","createdAt":"2026-01-06T11:14:09.512Z","id":"oiqAJxzoKKkTWLyY","name":"[SMA v2] 1단계 - 크롤링→구글시트","description":null,"active":false,"isArchived":false,"nodes":[{"id":"start-node","name":"시작","type":"n8n-nodes-base.manualTrigger","position":[240,400],"parameters":{},"typeVersion":1},{"id":"read-csv","name":"URL 리스트 읽기","type":"n8n-nodes-base.readBinaryFiles","position":[440,400],"parameters":{"filePath":"c:\\NewProject\\2026-01\\n8n-claude\\crawl_urls.csv"},"typeVersion":1},{"id":"csv-to-json","name":"CSV 파싱","type":"n8n-nodes-base.code","position":[640,400],"parameters":{"jsCode":"const csv = $input.item.binary.data.toString('utf-8');\nconst lines = csv.split('\\n').filter(line => line.trim() && !line.startsWith('url'));\n\nconst items = lines.map(line => {\n  const [url, source_type, era] = line.split(',');\n  return {\n    json: {\n      url: url.trim(),\n      source_type: source_type.trim(),\n      era: era.trim()\n    }\n  };\n});\n\nreturn items;"},"typeVersion":2},{"id":"http-request","name":"웹페이지 가져오기","type":"n8n-nodes-base.httpRequest","position":[840,400],"parameters":{"url":"={{ $json.url }}","options":{"timeout":10000}},"typeVersion":4.2},{"id":"html-extract","name":"본문 추출","type":"n8n-nodes-base.html","position":[1040,400],"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"title","cssSelector":"h1, .article-title, .news-title, .post-title, title"},{"key":"content","cssSelector":"article, .wrap_body, .article-body, .news-content, .post-content, main"}]},"options":{}},"typeVersion":1.2},{"id":"prepare-sheets-data","name":"구글시트 데이터 준비","type":"n8n-nodes-base.code","position":[1240,400],"parameters":{"jsCode":"const urlData = $('CSV 파싱').item.json;\nconst extracted = $input.item.json;\n\nreturn {\n  json: {\n    url: urlData.url,\n    source_type: urlData.source_type,\n    era: urlData.era,\n    title: extracted.title || '',\n    content: extracted.content || '',\n    crawled_at: new Date().toISOString(),\n    status: 'success'\n  }\n};"},"typeVersion":2},{"id":"google-sheets","name":"구글시트에 저장","type":"n8n-nodes-base.googleSheets","position":[1440,400],"parameters":{"operation":"append","sheetId":"={{ $('시작').params.sheetId }}","range":"A:G","options":{}},"typeVersion":4.4}],"connections":{"시작":{"main":[[{"node":"URL 리스트 읽기","type":"main","index":0}]]},"URL 리스트 읽기":{"main":[[{"node":"CSV 파싱","type":"main","index":0}]]},"CSV 파싱":{"main":[[{"node":"웹페이지 가져오기","type":"main","index":0}]]},"웹페이지 가져오기":{"main":[[{"node":"본문 추출","type":"main","index":0}]]},"본문 추출":{"main":[[{"node":"구글시트 데이터 준비","type":"main","index":0}]]},"구글시트 데이터 준비":{"main":[[{"node":"구글시트에 저장","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"09135ec6-9075-4f3f-936a-6ba1724c46a1","versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-01-06T11:14:09.519Z","createdAt":"2026-01-06T11:14:09.519Z","role":"workflow:owner","workflowId":"oiqAJxzoKKkTWLyY","projectId":"GbnCzVuyDJApET8F","project":{"updatedAt":"2025-12-01T03:15:12.327Z","createdAt":"2025-12-01T03:13:12.569Z","id":"GbnCzVuyDJApET8F","name":"taby tabyjang0101@gmail.com <tabyjang0101@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-01T03:13:12.569Z","createdAt":"2025-12-01T03:13:12.569Z","userId":"309990a6-0c56-4e80-ae30-e193fb387368","projectId":"GbnCzVuyDJApET8F","user":{"updatedAt":"2026-01-06T03:51:00.000Z","createdAt":"2025-12-01T03:13:11.925Z","id":"309990a6-0c56-4e80-ae30-e193fb387368","email":"tabyjang0101@gmail.com","firstName":"taby","lastName":"tabyjang0101@gmail.com","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-01T03:15:16.596Z","personalization_survey_n8n_version":"1.121.3"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"dismissedCallouts":{"aiAgentStarterCallout":true},"firstSuccessfulWorkflowId":"uSY8w1iH2rp10wCM","userActivatedAt":1767586027813},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-06","isPending":false}}]}}],"tags":[]}